.result {
    min-width: 0;
    padding: 2.5rem 2.3rem;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2rem;
}

.result__title {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    font-weight: 600;
}

.result__circle {
    margin: 2.1rem 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11.8rem;
    max-width: 100%;
    height: 11.8rem;
    border-radius: 5.9rem;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0))
}

.result__circle-score {
    font-size: 4.2rem;
    font-weight: 700;
}

.result__circle-maximum {
    margin-top: -0.2rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    font-weight: 500;
}

.result__evaluation {
    font-size: 1.9rem;
    font-weight: 600;
}

.result__comparison {
    margin-top: 0.8rem;
    padding: 0 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
}